:root {
  color-scheme: light dark;
  --bs-body-bg: #F9F9F9;
  --font-inter: "Inter", sans-serif;
  --bs-transition: all 0.3s ease-in-out;
  --bs-border-radius: 0.35rem;

  --bs-accent: #EDA606;
  --bs-accent-color: #252525;
  --bs-accent-50: #F3E3BC;
  --bs-accent-25: #FDF6E5;
  --bs-primary: #000056;
  --bs-primary-color: #ffffff;
  --bs-primary-50: #BFBCFC;
  --bs-primary-33: #DEDDFF;
  --bs-primary-25: #EEEEFF;
}